<!-- src/app/header.component.html
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer
                             mode="over"
                             (closedStart)="drawer.close()"
                             class="sidenav">

        <mat-nav-list>
            <a mat-list-item routerLink="/"            (click)="drawer.close()">Dashboard</a>
            <a mat-list-item routerLink="/stakeholder" (click)="drawer.close()">Stakeholder</a>
            <a mat-list-item (click)="onLogout(); drawer.close()">Logout</a>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="app-toolbar">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <span class="app-title">Pronto</span>
            <span class="spacer"></span>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>  -->

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="https://prontomoto.azureedge.net/artifacts/prontomoto_icon.png" alt="Icon" width="42" height="42" class="me-2">
        <span class="navbar-title">Pronto Moto</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink=" " routerLinkActive="home">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Stakeholder" routerLinkActive="Stakeholder">Stakeholder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout(); drawer.close()"routerLinkActive="logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
